.img-circle {
    width: 300px;
    height: 300px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    object-fit: cover;
    margin-bottom: 20px;
}
.header{
  background-color: white;
}
.navbar .navbar-nav .nav-link {
    color: #fa5080;
    font-size: 1.1em;
    background-color: transparent; 
}
.navbar .navbar-nav .nav-link:hover {
    color: #420214; 
    font-weight: 600;
}
.navbar .navbar-nav .nav-item {
    position: relative;
}

.navbar .navbar-nav .nav-item::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #fa5080;
    width: 0%;
    content: "";
    height: 4px;
    transition: all 0.5s;
}

.navbar-title {
    text-decoration: none;
    color: #1c1c1c;
    font-size: 24px;
  }
  @media (max-width: 990px) {
    .navbar-collapse {
      background-color: rgb(238, 234, 234);
      border-radius: 8px;
      margin-top: 5px;
    }
  }
  .title{
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .download-cv{
    text-decoration: none;
    display: block;
    border: 2px solid #fa8cac;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px 25px;
    border-radius: 8px;
    font-weight: 700;
    color: white;
    background-color: #fa5080;
    width: fit-content;
    align-self: center;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  }
  .download-cv:hover {
    background-color: white; 
    color: #fa5080; 
    border: 2px solid #fa5080; 
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}
.navbar {
position: fixed;
width: 100%;
z-index: 10;
padding: 2px 0;
background-color: white;
}
.navbar-nav a {
color: white;
text-decoration: none;
padding: 10px 15px;
display: block; 
}
.navbar-nav a:hover {
background-color: gray; 
border-radius: 5px;
}
@media (max-width: 576px) {
    .navbar-brand img {
        width: 30px;
        height: 30px;
        margin-left: 10px;
    }
    .navbar-nav .nav-link {
        font-size: 14px; 
        padding: 5px 5px; 
    }
}

.section {
    padding: 60px 0;
}
#projects {
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif; 
}
.card {
    background-color: none; 
    margin: 20px; 
    height: 200%; 
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.card img {
    height: 200px; 
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
     object-fit: cover;
    border: 2px solid #fa5080;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1; 
    border: 2px solid #fa5080;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.col-md-4 {
    flex: 1 1 30%; 
    display: flex;
    flex-direction: column;
}
.btn {
    width: 150px;
    height: 40px; 
    font-size: 14px; 
    color: white;
    background-color: #fa5080;
    font-weight: bolder;
    display: inline-block;
    text-align: center;
    border: 2px solid  white;
    border-radius: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.btn:hover {
    background-color:white; 
    color: #fa5080; 
    border: 2px solid #fa5080; 
    transition: background-color 0.3s ease, color 0.3s ease; 
}
.form-container {
  display: flex;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

.left-panel {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: black;
  margin-right: 10px;
}
.right-panel {
  background-color: rgb(245, 202, 209);
  padding: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.contact-form h2 {
  font-size: 28px;
  margin-bottom: 30px;
  text-align: center;
  box-shadow: #fa5080;
}

.contact-form .btn-primary {
  background-color: #fa5080;
  border: 1px solid #fa5080;
  width: 150px;
  border-radius: 15px;
  cursor: pointer;
}
.contact-form .btn-primary:hover {
  background-color: white;
  color: #fa5080;
  border:2px solid #fa5080;
}
input[type="text"]:focus, 
input[type="email"]:focus, 
input[type="password"]:focus, 
textarea:focus, 
select:focus {
    outline: none; 
    box-shadow: none; 
    border: 2px solid #fa5080;
}
textarea:focus {
  outline: none ;
  box-shadow :none;
  border: 2px solid #fa5080 
}


@media (max-width: 768px) {
  .form-container {
    flex-direction: column;
  }

  .left-panel {
    text-align: center;
    padding: 30px;
  }

  .contact-form {
    padding: 20px;
  }
}

 @media (max-width: 767px) {
    .img-circle {
        width: 200px;
        height: 200px;
    }
    .hero-text {
        max-width: 100%;
        text-align: center;
        padding: 20px;
    }
    #hero {
        justify-content: center;
        padding-right: 0;
    }
    .navbar-nav a {
        padding: 5px 10px;
    }
}
.hero {
    height: 100vh;
    padding: 0 20px;
    display: flex;
    align-items: center;
    font-family: "Times New Roman", Times, serif;
    justify-content: space-around;
    position: relative;
  }
  .content {
    display: flex;
    flex-direction: column;
  }
  .blob-container {
    width: 700px; 
    height: 600px;
    background-image: url("blob.svg"); 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden; 
  }
  @media (max-width: 950px) {
    .blob-container {
      width: 400px; 
      height: 400px;
    }
  }
  @media (max-width: 670px) {
    .blob-container {
      width: 300px; 
      height: 300px;
    }
    .hero {
      flex-direction: column;
    }
    .hero .content {
      margin-top: 60px;
    }
  }
  .hero .blob-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    mask-image: url("blob.svg"); 
    mask-size: cover;
    mask-position: center;
    object-position: center;
  }
  .hero .content .name {
    font-size: 20px;
  }
  
  .hero .content h3 {
    color: #fa5080;
  }
  .hero .content h1 {
    font-weight: bold;
  }
  .hero .content p {
    color: #636363;
    letter-spacing: 2px;
  }
   .button {
    margin-top: 30px;
    display: flex;
    gap: 30px;
    align-items: center;
  }
   .button a {
    text-decoration: none;
    display: block;
    border: 1px solid #fa8cac;
    padding: 5px 20px;
    border-radius: 8px;
    font-weight: 700;
  }
  .btn-primary {
    color: white;
    background-color: #fa5080;
    border: 2px solid transparent;
  }
  .btn-secondary {
    color: #fa5080;;
    border: 2px solid #fa5080;
  }
   .btn-secondary:hover {
    background-color:#fa5080;
    color: white;
    
  }
  .btn-primary:hover {
    background-color:#ea0b4a;

  }

  .social-media {
    margin-top: 10px;
  }
  
  .social-icon {
    color: #fa5080;
    font-size: 1.5rem;
    margin: 0 10px;
    text-decoration: none;
  }
  
  .social-icon:hover {
    color: lightpink;
  }
 
  